<li class="work_assignmnet_group">
  <div class="tool_link">
    <div class="content">
      <div class="name">
        <%= work_assignment_list.name %>
      </div>
      <div class="lead">
        <%= work_assignment_list.body %>
      </div>
    </div>
  </div>
</li>
