<% if @work_assignment_group && !@work_assignment_group.path.blank? %>
  <div id="article-parent">
    <%= button(:back, _('Go back to %s') % @work_assignment_group.short_title, @work_assignment_group.url) %>
  </div>
<% end %>

<%= render partial: 'work_assignment_list', locals: {work_group: @work_assignment_group} %>

<% if @work_assignment_group.allow_create?(user) %>
  <div class="work-assignment">
    <% button_bar do %>
      <%= button(:add, _('Add %s') % WorkAssignmentPlugin::WorkAssignment.short_description, :controller => 'cms', :action => 'new', :type => 'WorkAssignmentPlugin::WorkAssignment', :parent_id => @work_assignment_group.id)%>
    <% end %>
  </div>
<% end %>
